.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

$blue: #003eb1;
$red: #ff0000;
$green: #00b153;
$gray-600: #c8c8c8;

$border-radius: 6px;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.btn-outline-secondary {
  color: #373a3c;
}

body {
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #000000;
}

.or-app {
  display: block;
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px 0;
}

.or-ad {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #e0e0e0;

  img,
  svg,
  video {
    max-width: 100%;
    max-height: 100%;
  }

  &_position {
    &_top {
      max-width: 1000px;
      height: 90px;
      margin: 0 auto 5px;
    }

    &_bottom {
      max-width: 1000px;
      height: 90px;
      margin: 5px auto 90px auto;
    }

    &_aside {
      max-width: 240px;
      height: 400px;
      margin: 0 auto 30px auto;
    }
  }
}

.or-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 40px 30px;

  &__logo {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    color: #373a3c;

    &-main {
      display: inline-block;
      max-width: 87px;
    }

    &-title {
      display: inline-block;
      margin: 0 0 0 10px;
      font-style: normal;
      font-weight: normal;
      line-height: 24px;
      font-size: 20px;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.15s ease-out;

    &:hover {
      color: #ff0000;
      text-decoration: none;
    }
  }

  &__button {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    font-size: 14px;

    &-icon {
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-top: -2px;
      object-fit: scale-down;
      object-position: center center;
    }

    &-text {
      display: inline-block;
      margin: 0 0 0 6px;
    }
  }

  .badge {
    padding: 4px 6px;
    border-radius: 6px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    font-size: 14px;
  }
}

.or-categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 40px 30px;

  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 460px;
    margin-bottom: 25px;

    &-title {
      display: flex;
      align-items: center;
      margin: 0 0 10px 0;
      color: rgba(0, 0, 0, 0.7);
      cursor: pointer;
      text-decoration: none;
      transition: all 0.15s ease-out;

      &:hover {
        color: #ff0000;
        text-decoration: none;
      }
    }

    &-icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 10px;
      object-fit: scale-down;
      object-position: 0 0;
    }

    &-text {
      display: inline-block;
      margin: 0;
      font-style: normal;
      font-weight: 500;
      line-height: 21px;
      font-size: 18px;
    }

    &-nav {
      display: block;
      position: relative;
      margin: 0;
      padding: 0 0 0 30px;
      list-style: none;

      li {
        display: inline;

        a {
          display: inline;
          font-style: normal;
          font-weight: normal;
          line-height: 22px;
          font-size: 13px;
          color: rgba(0, 0, 0, 0.7);
          cursor: pointer;
          text-decoration: none;
          transition: all 0.15s ease-out;

          &:hover {
            color: #ff0000;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.or-main {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 5px 45px 5px 30px;

  &__title {
    display: block;
    margin: 0 0 20px 0;
    font-style: normal;
    font-weight: bold;
    line-height: 21px;
    font-size: 18px;
    color: #000000;
  }

  .col-lg-9 {
    padding-right: 20px;
  }
}

.or-board {
  display: block;
  position: relative;
  width: 100%;
}

.or-board-card {
  display: flex;
  flex-flow: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  max-width: 680px;
  padding: 20px 0;
  border-top: 1px solid #e0e0e0;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  &__image {
    display: inline-block;
    width: 130px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.15s ease-out;

    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__content {
    display: inline-block;
    position: relative;
    width: 550px;
    margin: 0;
    padding: 0 0 0 10px;
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }

  &__category {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 5px 0;
    padding-right: 30px;
    font-style: normal;
    font-weight: normal;
    line-height: 15px;
    font-size: 13px;
    color: #999999;
  }

  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 7px 0;
    padding-right: 30px;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
    font-size: 15px;
    color: #003eb1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.15s ease-out;

    &:hover {
      color: #ff0000;
      text-decoration: none;
    }
  }

  &__price {
    display: inline-block;
    position: relative;
    margin: 0 0 6px 0;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.86);
  }

  &__description {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 5px 0;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    font-size: 14px;
    color: #373a3c;
  }

  &__city {
    display: inline-block;
    position: relative;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    line-height: 15px;
    font-size: 13px;
    color: #999999;
  }

  &__date {
    display: inline-block;
    position: relative;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    line-height: 15px;
    font-size: 13px;
    color: #999999;
  }

  &__info {
    display: inline-block;
    flex: 1 1 auto;
    margin: 0 0 0 10px;
    font-style: normal;
    font-weight: normal;
    line-height: 14px;
    font-size: 12px;
    color: #999999;
  }

  &__favorite {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0 4px 4px;
    z-index: 1;

    &-icon {
      display: block;
      width: 19px;
      height: 19px;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.15s ease-out;

    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }
}

.or-form {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;

  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0 30px;
  }

  &__place {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    label {
      display: inline-block;
      margin: 0 10px 0 0;
      font-style: normal;
      font-weight: normal;
      line-height: 18px;
      font-size: 15px;
      color: #373a3c;
    }

    .custom-select {
      display: inline-block;
      width: auto;
      height: auto;
      margin: 0;
      padding: 0 25px 0 0;
      border: 0;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      font-size: 15px;
      color: #373a3c;
      cursor: pointer;
    }
  }

  &__main {
    display: block;
    position: relative;
    width: 100%;
    padding: 30px;
    background: #e0e0e0;
    border-radius: 6px;

    .custom-select {
      flex: 0 0 150px;
      height: auto;
      padding: 11px 25px 11px 20px;
      font-style: normal;
      font-weight: normal;
      line-height: 18px;
      font-size: 15px;
      color: #373a3c;
      cursor: pointer;
    }

    .form-control {
      flex: 1 1 auto;
      height: auto;
      padding: 11px 20px;
      font-style: normal;
      font-weight: normal;
      line-height: 18px;
      font-size: 15px;
    }

    .btn {
      padding: 11px 20px;
      font-style: normal;
      font-weight: normal;
      line-height: 18px;
      font-size: 15px;
    }
  }

  &__nav {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;

    a {
      display: inline-block;
      margin: 0;
      padding: 13px 18px 9px 18px;
      background: transparent;
      border-radius: 6px 6px 0px 0px;
      font-style: normal;
      font-weight: normal;
      line-height: 18px;
      font-size: 15px;
      color: #373a3c;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.15s ease-out;

      &:hover {
        opacity: 0.7;
        text-decoration: none;
      }
    }

    &_active {
      background: #e0e0e0 !important;
    }
  }
}

.or-filter {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 28px 30px 20px 30px;
  border-bottom: 1px solid #e0e0e0;

  .custom-select {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 25px 35px 7px 15px;
    background: url('../images/assets/icon_arrow_down.svg') no-repeat right 10px center;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
    font-size: 12px;
    color: #373a3c;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.15s ease-out;

    &:hover {
      background: #e0e0e0 url('../images/assets/icon_arrow_down.svg') no-repeat right 10px center;
      text-decoration: none;
    }
  }

  .btn {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 25px 35px 7px 15px;
    background: url('../images/assets/icon_arrow_down.svg') no-repeat right 10px center;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
    font-size: 12px;
    color: #373a3c;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.15s ease-out;

    &:hover {
      background: #e0e0e0 url('../images/assets/icon_arrow_down.svg') no-repeat right 10px center;
      text-decoration: none;
    }
  }

  &__wrap {
    display: inline-block;
    position: relative;
    margin-right: 10px;
  }

  &__label {
    display: block;
    position: relative;
    margin: 0 0 -24px 0;
    padding: 0 35px 0 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    font-size: 14px;
    color: #373a3c;
    pointer-events: none;
    z-index: 1;
  }
}

.or-breadcrumps {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 35px 0 12px 0;
  list-style: none;

  li {
    display: inline-block;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
    font-size: 12px;
    color: #999999;

    svg {
      margin-top: -2px;
    }

    a {
      color: #999999;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.15s ease-out;

      &:hover {
        color: #ff0000;
        text-decoration: none;

        path {
          fill: #ff0000;
        }
      }
    }
  }
}

.or-sort {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0 0 20px 0;

  .btn-outline-secondary:not(:disabled):not(.disabled):active,
  .btn-outline-secondary:not(:disabled):not(.disabled).active,
  .show>.btn-outline-secondary.dropdown-toggle {
    background: #f3f3f3;
  }

  .btn {
    padding: 8px 15px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    font-size: 14px;
    color: #373a3c;
    cursor: pointer;
  }

  &__view {
    display: inline-block;
    position: relative;

    &-icon {
      display: inline-block;
      margin-right: 2px;
    }
  }

  &__by {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    label {
      display: inline-block;
      margin: 0 10px 0 0;
      font-style: normal;
      font-weight: normal;
      line-height: 18px;
      font-size: 15px;
      color: #373a3c;
    }

    .custom-select {
      display: inline-block;
      width: auto;
      height: auto;
      margin: 0;
      padding: 7px 26px 7px 15px;
      font-style: normal;
      font-weight: normal;
      line-height: 16px;
      font-size: 14px;
      color: #373a3c;
      cursor: pointer;
    }
  }
}

.or-item {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;

  .badge {
    margin-left: 5px;
    padding: 4px 6px;
    background: #999999;
    border-radius: 6px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    font-size: 14px;
    color: #ffffff;
  }

  &__big {
    display: block;
    position: relative;
    width: 100%;
    max-width: 680px;
    margin: 0 auto 15px auto;

    .slick-next,
    .slick-prev {
      width: 31px;
      height: 31px;
      opacity: 1;
      z-index: 1;
      transition: all 0.2s ease-out;

      &:hover {
        opacity: 0.7;
      }
    }

    .slick-next {
      left: auto;
      right: 10px;
      background: url("../images/assets/icon_carousel_next.svg");

      &:before {
        display: none;
      }
    }

    .slick-prev {
      right: auto;
      left: 10px;
      background: url("../images/assets/icon_carousel_prev.svg");

      &:before {
        display: none;
      }
    }

    &-card {
      display: block;
      width: 100%;
      height: 430px;
      margin: 0 auto;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__small {
    display: block;
    position: relative;
    width: 100%;
    max-width: 680px;
    margin: 0 auto 30px auto;

    .slick-slide.slick-current.slick-active {
      .or-item__small-card {
        border-color: #003eb1;
      }
    }

    &-card {
      display: block;
      width: 78px;
      height: 78px;
      margin: 0 auto;
      border: 2px solid transparent;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.15s ease-out;

      &:hover {
        opacity: 0.7;
        text-decoration: none;
      }
    }
  }

  &__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0 0 20px 0;
  }

  &__title {
    display: inline-block;
    margin: 0 0 15px 0;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    font-size: 20px;
    color: #000000;
  }

  &__date {
    display: inline-block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    font-size: 14px;
    color: #000000;
  }

  &__address {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    font-size: 15px;
    color: #373a3c;

    a {
      display: inline;
      color: #0016ae;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.15s ease-out;

      &:hover {
        color: #ff0000;
        text-decoration: none;
      }
    }
  }

  &__favorite {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.15s ease-out;

    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;
    padding: 30px 0 25px 0;
  }

  &__info {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 220px;
    margin: 0 0 20px 0;
    padding: 4px 10px;
    border-left: 1px solid #d0d0d0;

    &-title {
      display: block;
      margin: 0 0 6px 0;
      font-style: normal;
      font-weight: normal;
      line-height: 18px;
      font-size: 15px;
      color: #999999;
    }

    &-text {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      line-height: 16px;
      font-size: 15px;
      color: #000000;
    }
  }

  &__subtitle {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 10px 0;
    font-style: normal;
    font-weight: bold;
    line-height: 18px;
    font-size: 15px;
    color: #373a3c;
  }

  &__description {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 4px 10px;
    border-left: 1px solid #d0d0d0;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    font-size: 15px;
    color: #373a3c;
  }

  &__wrap {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 20px;
    border: 1px solid #D0D0D0;
    border-radius: 6px;
    background: #f3f3f3;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    font-size: 14px;
    color: #000000;

    b,
    strong {
      display: block;
      margin: 0 0 2px 0;
      font-style: normal;
      font-weight: bold;
      line-height: 18px;
      font-size: 15px;
      color: #000000;
    }

    p {
      display: block;
      margin: 0;
    }

    a {
      color: #0016ae;

      b {
        color: #0016ae;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.15s ease-out;

      &:hover {
        b {
          color: #ff0000;
        }

        color: #ff0000;
        text-decoration: none;
      }
    }
  }
}

.or-aside {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;

  .btn {
    width: 100%;
    height: auto;
    padding: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    font-size: 14px;
    text-align: center;
  }

  .btn-outline-secondary {
    font-weight: 500;
    color: #373a3c;
  }

  &__price {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 20px 15px 20px 20px;
    border: 1px solid #d0d0d0;

    b,
    strong {
      display: inline;
      font-style: normal;
      font-weight: bold;
      line-height: 21px;
      font-size: 18px;
      color: #000000;
    }

    &-discount {
      display: inline;
      font-style: normal;
      font-weight: normal;
      line-height: 14px;
      font-size: 12px;
      color: #999999;
    }
  }

  &__main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 20px 5px 20px 10px;
    border: 1px solid #d0d0d0;

    &-image {
      display: inline-block;
      width: 60px;
      height: 60px;
      margin-right: 10px;
      border-radius: 999rem;
      background-position: center center;
      background-size: cover;
    }

    &-content {
      display: inline-block;
    }

    &-name {
      display: block;
      margin: 0 0 6px 0;
      font-style: normal;
      font-weight: bold;
      line-height: 18px;
      font-size: 15px;
      color: #000000;
    }

    &-info {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      line-height: 20px;
      font-size: 12px;
      color: #999999;
    }

    &-link {
      display: block;
      margin: 2px 0 0 0;
      font-style: normal;
      font-weight: normal;
      line-height: 15px;
      font-size: 13px;
      color: #003eb1;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.15s ease-out;

      &:hover {
        color: #ff0000;
        text-decoration: none;
      }
    }
  }

  &__wrap {
    display: block;
    position: relative;
    width: 100%;
    margin: -1px 0 0 0;
    padding: 20px;
    border: 1px solid #d0d0d0;
  }

  &__lines {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 20px 0 15px 0;
  }

  &__line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0 0 5px 0;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
    color: #373a3c;

    svg,
    img {
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-right: 10px;
      object-fit: scale-down;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.15s ease-out;

    &:hover {
      color: #ff0000;
      text-decoration: none;
    }
  }

  &__social {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;

    &-title {
      display: block;
      margin: 0 0 10px 0;
      font-style: normal;
      font-weight: normal;
      line-height: 16px;
      font-size: 14px;
      color: #000000;
    }

    ul {
      display: block;
      position: relative;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;

        img,
        svg {
          max-width: 100%;
        }

        a {
          display: inline-block;
          margin-right: 12px;
          cursor: pointer;
          text-decoration: none;
          transition: all 0.15s ease-out;

          &:hover {
            opacity: 0.7;
            text-decoration: none;
          }
        }
      }
    }
  }

  &__numbers {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 15px 0 35px 0;
  }

  &__number {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 5px 0;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    font-size: 14px;
    color: #000000;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1030px;
  }
}

@media (max-width: 1199px) {
  .or-header {
    padding: 0 0 20px 0;
  }

  .or-header__logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 24px;
  }

  .or-header__logo-main {
    max-width: 110px;
  }

  .or-header__logo-title {
    font-size: 24px;
  }

  .or-header__button {
    min-height: 40px;
  }

  .or-header__button-icon_favorite {
    path {
      fill: #00b153;
    }
  }

  .or-header__button-icon_comment {
    path {
      fill: #003eb1;
    }
  }

  .or-ad {
    display: none;
  }

  .or-main {
    padding: 5px 0;
  }

  .or-header .badge {
    display: none;
  }

  .or-header__button-text {
    display: none;
  }

  .or-form__header {
    display: none;
    padding: 5px 0;
  }

  .or-form__place {
    margin-bottom: 5px;
  }

  .or-form__nav {
    display: flex;
    justify-content: space-around;
    width: 100%;

    a {
      padding: 8px;
      border-radius: 6px;
      text-align: center;
    }
  }

  .or-form__main {
    padding: 20px;
  }

  .or-form__main .custom-select {
    flex: 1 1 100%;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 6px !important;
  }

  .or-form__main input[type='search'] {
    border-radius: 6px 0 0 6px !important;
  }

  .or-board-card {
    justify-content: space-between;
  }

  .or-board-card__content {
    flex: 1 1 210px;
    order: -1;
    width: 100%;
    max-width: 210px;
    padding: 0;
  }

  .or-board-card__image {
    width: 80px;
    height: 60px;
  }

  .or-board-card__title {
    height: 44px;
    padding-right: 20px;
    white-space: pre-wrap;
    line-height: 22px;
  }

  .or-board-card__favorite {
    display: none;
  }

  .or-board-card__category {
    padding-right: 20px;
  }

  .or-board-card__description {
    display: none;
  }

  .or-board-card__row {
    flex-flow: row wrap;
  }

  .or-board-card__city {
    display: block;
    width: 100%;
    margin-bottom: 4px;
  }

  .or-board-card__time {
    display: block;
    width: 100%;
  }

  .or-categories {
    display: block;
    width: 100%;
    padding: 25px 0;
  }

  .or-categories__card {
    margin: -1px 0 0 0;
    padding: 12px 10px 12px 15px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
  }

  .or-categories__card-title {
    position: relative;
    margin: 0;
    padding-right: 30px;

    &:after {
      display: block;
      position: absolute;
      content: '';
      top: 50%;
      right: 0;
      width: 18px;
      height: 18px;
      margin-top: -9px;
      background: url('../images/assets/icon_arrow_right.svg') no-repeat center;
    }
  }

  .or-categories__card-nav {
    display: none;
  }

  .or-filter__wrap {
    margin-bottom: 18px;
  }

  .or-filter {
    padding: 25px 0 5px 0;
  }

  .or-filter {
    display: none;
  }

  .or-sort .btn-group,
  .btn-group-vertical {
    margin-bottom: 10px;
  }

  .or-item__header {
    align-items: flex-start;
  }

  .or-item__favorite {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -3px;
  }

  .or-item__title {
    display: inline;
    padding-left: 25px;
  }

  .or-item__date {
    margin-top: 16px;
  }

  .or-item__date {
    display: flex;
    align-items: flex-start;

    svg,
    img {
      margin-right: 5px;
    }
  }

  .or-item__big {
    max-width: 300px;
    margin-bottom: 6px;
  }

  .or-item__big-card {
    height: 190px;
  }

  .or-item__small {
    max-width: 300px;
    margin-bottom: 24px;
  }

  .or-item__small-card {
    width: 35px;
    height: 35px;
  }

  .or-item__address {
    margin-bottom: 0;
    padding: 4px 0 4px 10px;
    border-left: 1px solid #d0d0d0;

    a {
      display: block;
    }
  }
  .or-item__info {
    max-width: 165px;
  }
  .or-item__cards {
    padding-bottom: 5px;
  }
  .or-item__description {
    padding: 0;
    border: 0;
  }
  .or-hide-mob {
    display: none;
  }
  .or-aside {
    padding: 0 15px;
  }
}